services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8002:80
    environment:
      - APP_NAME=tv-authorization-service
      - APP_ENV=local
      - APP_KEY=base64:0xPWU7myp18Jd4RHZ115ke3iMG8UWbAPk5d5tfEdMoo=
      - APP_DEBUG=true
      - APP_URL=http://localhost:8000
      - LOG_CHANNEL=stderr
      - LOG_DEPRECATIONS_CHANNEL=null
      - LOG_LEVEL=debug
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=app
      - DB_USERNAME=user
      - DB_PASSWORD=pass
      - AMQP_HOST=rabbitmq
      - AMQP_PORT=5672
      - AMQP_USER=guest
      - AMQP_PASSWORD=guest
      - BROADCAST_DRIVER=log
      - CACHE_DRIVER=file
      - FILESYSTEM_DISK=local
      - QUEUE_CONNECTION=sync
      - SESSION_DRIVER=file
      - SESSION_LIFETIME=120
      - MEMCACHED_HOST=127.0.0.1
      - L5_SWAGGER_GENERATE_ALWAYS=true
      - AUDIT_LOG_EVENTS_EXCHANGE=tv-audit-log.events
      - EMAIL_NOTIFICATION_EXCHANGE=tv-notification.email
      - KEYCLOAK_BASE_URL=http://host.docker.internal:8180
      - KEYCLOAK_REALM=tolkevarav-dev
      - SSO_INTERNAL_CLIENT_ID=tv-authorization-mapper
      - ACCEPTED_AUTHORIZED_PARTIES=web
